@model MetmarMVCApp.Models.Przedmioty

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Przedmioty</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Kategorie.Nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kategorie.Nazwa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nazwa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kaucja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kaucja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StawkaDzien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StawkaDzien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StawkaGodzinowa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StawkaGodzinowa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cena)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wartosc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wartosc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsSki)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsSki)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
